<script src="{{ root_url }}/javascripts/modernizr-2.0.js"></script>
<script src="//ajax.useso.com/ajax/libs/jquery/1.9.1/jquery.min.js"></script>
<script>!window.jQuery && document.write(unescape('%3Cscript src="/javascripts/libs/jquery.min.js"%3E%3C/script%3E'))</script>
<script src="{{ root_url }}/javascripts/libs/respond.js" type="text/javascript"></script>
<script src="{{ root_url }}/javascripts/octopress.js" type="text/javascript"></script>
{% if site.github_user %}
  <script src="{{ root_url }}/javascripts/github.js" type="text/javascript"> </script>
  <script type="text/javascript">
  $(document).ready(function(){
    if (!window.jXHR){
      var jxhr = document.createElement('script');
      jxhr.type = 'text/javascript';
      jxhr.src = '{{ root_url}}/javascripts/libs/jXHR.js';
      var s = document.getElementsByTagName('script')[0];
      s.parentNode.insertBefore(jxhr, s);
    }

    github.showRepos({
      user: '{{site.github_user}}',
      count: {{site.github_repo_count}},
      skip_forks: {{site.github_skip_forks}},
      target: '#gh_repos'
    });
  });
  </script>
{% endif %}

<!-- mathjax config similar to math.stackexchange -->
<script type="text/x-mathjax-config">
MathJax.Hub.Config({
  jax: ["input/TeX", "output/HTML-CSS"],
  tex2jax: {
    inlineMath: [ ['$', '$'] ],
    displayMath: [ ['$$', '$$']],
    processEscapes: true,
    skipTags: ['script', 'noscript', 'style', 'textarea', 'pre', 'code']
  },
  messageStyle: "none",
  "HTML-CSS": { preferredFont: "TeX", availableFonts: ["STIX","TeX"] }
});
</script>
<script type="text/javascript" async
  src="https://cdnjs.cloudflare.com/ajax/libs/mathjax/2.7.1/MathJax.js?config=TeX-MML-AM_CHTML">
</script>
